{% extends "layout.html" %}

{% block content %}


<div class="image-container">
    <img src="static/image.png" alt="RASCALL Image" class="img-fluid">
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome to RASCALL</h1>
            <p>RASCALL is a platform for plotting the spectral features of individual functionals within molecules.
                I want to kill myself.
            </p>
            <!-- Add any other information or description here -->
        </div>
    </div>
</div>
{% endblock %}